.nav-div {
    
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    padding: 0px  23px;
    border-bottom: 1px solid white;
}
.nav-div h1{
    color: white;
    font-size: 24px;
    font-weight: 900;
}
.nav-div .nav-icon{
    color: white;
    width: 16px;
    height: 15px;
}